@import "src/assets/style/_variables";

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $pink_30;
  font-family: Helvetica_bolt;
  margin-top: 8rem;

  &-title {
    font-size: 200px;
    margin-bottom: 20px;
  }

  &-text {
    cursor: pointer;
    font-size: 20px;
    color: $blue;
  }
}
